.cart {
    
    display: flex;
    text-align: center;
    width: 15%;

    .linkCart {

        width: 100%;

        .imgCart {
            
            vertical-align: middle;
            width: 65%;
        
        }
    }

    .countCart {
    
        color: snow;
        padding: 10px;
        font-size: small;
    }
}