.contenedor {

    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 83px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .item{

        display: flex;
        padding: 22px;
        width: 25%;
        margin: 0;

        .CardContainer {

            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            box-shadow: 0 7px 9px 0 rgb(0 0 0 / 20%);
            transition: 0.3s;
            border-radius: 10px;
            margin: 22px;
            background: #6dbbb787;

            .contenedorImagen {

                width: 80%;
                display: flex;
                justify-content: center;

                .img{

                    vertical-align: middle;
                    display: flex;
                    width: 100%;
                    margin-top: 24px;
                }
            }

            .contenedorDatos {

                justify-content: center;
                align-self: center;
                text-align: center;

                button{

                    display: inline-block;
                    outline: 0;
                    border: 0;
                    cursor: pointer;
                    will-change: box-shadow, transform;
                    background: radial-gradient(100% 100% at 100% 0%, #89E5FF 0%, #00b9a7 100%);
                    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
                    padding: 5px 12px;
                    margin: 10px 7px;
                    border-radius: 0.3em;
                    color: #fff;
                    height: auto;
                    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
                    transition: box-shadow 0.15s ease, transform 0.15s ease;
        
                
                    &:hover {
                    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #0c4723;;
                    transform: translateY(-0.1em);
                    }
                   
                    &:active {
                    box-shadow: inset 0px 0.1em 0.6em #0c4723;
                    transform: translateY(0em);
                    }
        
                }

                p{
                    margin: 11px 0px;
                    padding: 0;
                }
            }
        }

    }

    .CardContainer:hover {

        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}

.contenedorPocosArticulos{

    @extend .contenedor;
    height: 85vh;
}

@media screen and (max-width: 1400px){

    .contenedor{

        .item{ 

            .CardContainer{

                .contenedorDatos{

                    button{

                        padding: 5px 7px;
                        margin: 10px 0px;
                    }
                }
        
            }
        }
    }   
}

@media screen and (max-width: 1200px) {

    .contenedor{

        padding: 0 32px;

        .item{

            padding:22px;

            .CardContainer{

                margin: 0px;

                .contenedorDatos button {
                    margin: 0px;
                }
            }
        }

    }

}