.contenedor {

    width: 100%;
    display: flex;
    align-items: center;
}

.CardContainer {

    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 10px;
    margin: 10px;
    background: #6dbbb787;
}

.CardContainer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contenedorImagen {

    width: 80%;
    display: flex;
    justify-content: center;
}

.img{

    vertical-align: middle;
    display: flex;
    width: 100%;
    margin-top: 24px;
}

.contenedorDatos {

    justify-content: center;
    align-self: center;
    text-align: center;

}

.contenedorDatos .boton{

    margin: 4px;
    border-radius: 6px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}



