header{
    
    background-color: rgb(10, 163, 156);
    display: flex;
    width: 100%;
    justify-content:space-around;
}

.navBar{

    display:flex;
    align-items: center;
    justify-content: flex-end;
   
}

.menuNav {

    display:flex;
    list-style-type: none;
    font-size: 1.25rem;
}    
.menuNav .a{
        
    text-decoration: none;
    color: snow;
    padding: 0 20px;
}
    
.menuNav a:hover{

    color:rgb(199, 192, 192);
}

.nav-link {

    
    display: block;
    padding: 0;
    color: snow;
    text-decoration: none;
    transition: none;
}

.nav-link a {

    color: snow;
    text-decoration: none;
    transition: none;
}

.alineadorLogo{

    display: flex;
    align-items: flex-start;
}

.alineadorLogo h1{ 
    
    text-align: right;
    color: snow;
    font-size: 40px;
    align-self: center;
    padding: 19px;
}
    
.logoHeader {

    width: 5.25rem;
    margin-top: 5px;
    transition: 0.5s;
}

.logoHeader:hover{

    transform: scale(1.05);
}

.span{

    font-size: small;
}

.nav-link:focus, .nav-link:hover {
    color: #cad6f0;
}

.dropdown-item a{

    color: green  important!;
}


