@font-face {
    
    font-family: 'Anurati Normal';
    src: url("fonts/Anurati-Regular.woff") format('woff');
    font-display: swap;
}
.navActivo {

    text-decoration: none;
    margin: 0 10px;
    color: #cddc39;
    text-shadow: 0px 1px 12px #ffffff;
}

header{
    
    background-color: rgb(10, 163, 156);
    display: flex;
    width: 100%;
    justify-content:space-around;

    .alineadorLogo{

        display: flex;
        align-items: flex-start;

        h1{ 
            text-align: right;
            color: snow;
            font-size: 40px;
            align-self: center;
            padding: 19px;
            font-family: 'Anurati Normal';
            text-decoration: none;
        }

        a{ 
            text-decoration: none;
        }

        .logoHeader {

            width: 5.25rem;
            margin-top: 5px;
            transition: 0.5s;
        }
        
        .logoHeader:hover{
        
            transform: scale(1.05);
        }
    }

    .navBar{

        display:flex;
        align-items: center;
        justify-content: flex-end;

        .menuNav {

            display:flex;
            list-style-type: none;
            font-size: 1.25rem;

            .a{
                text-decoration: none;
                color: snow;
                padding: 0 20px;
                margin: 0 10px;
            }

            a:hover{

                color:rgb(199, 192, 192);
            }
        }   
    }
}

.nav-link {

    display: block;
    padding: 0;
    color: snow;
    text-decoration: none;
    transition: none;
    margin-left: 10px;

    a {
        color: snow;
        text-decoration: none;
        transition: none;
    }
}

.nav-link:focus, .nav-link:hover {

    color: #ffffff;
}

.dropdown-item.active, .dropdown-item:active{

    background-color: #2da576;
}