@font-face {
    
    font-family: 'Anurati Normal';
    src: url("fonts/Anurati-Regular.woff") format('woff');
    font-display: swap;
}
.navActivo {

    text-decoration: none;
    margin: 0 10px;
    color: #cddc39;
    text-shadow: 0px 1px 12px #ffffff;
}

header{
    
    background-color: rgb(10, 163, 156);
    display: flex;
    width: 100%;
    justify-content:space-around;

    .alineadorLogo{

        display: flex;
        align-items: flex-start;

        h1{ 
            text-align: right;
            color: snow;
            font-size: 40px;
            align-self: center;
            padding: 19px;
            font-family: 'Anurati Normal';
            text-decoration: none;
            text-shadow: 0px 1px 4px #ffffff;
        }

        a{ 
            text-decoration: none;
        }

        .logoHeader {

            width: 5.25rem;
            margin-top: 5px;
            filter: drop-shadow(3px 5px 5px #222);
            transition: 0.5s;
        }
        
        .logoHeader:hover{
        
            transform: scale(1.05);
        }
    }

    .navBar{

        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;

        .menuNav {

            display:flex;
            list-style-type: none;
            font-size: 1.25rem;
            width: 55%;

            .a{
                text-decoration: none;
                color: snow;
                padding: 0 20px;
                margin: 0 10px;
            }

            a:hover{

                color:rgb(199, 192, 192);
            }
        }

        .widgetContainer{    
            
            display: flex;
            justify-content: center;
            width: 100%;
            
            .actualUserNav {

                text-decoration: none;
                color: white;
                text-align: center;
                width: 30%;
                align-self: center;

                .iconUser {
                    width: 35px;
                }
                p{

                    margin:0px;
                }
            }
        }
    }
}

.nav-link {

    display: block;
    padding: 0;
    color: snow;
    text-decoration: none;
    transition: none;
    margin-left: 10px;

    a {
        color: snow;
        text-decoration: none;
        transition: none;

        &:hover{

            color:white;
        }
    }
}

.dropdown-menu{

    min-width: 6.5rem;
    text-align: center;
}

.dropdown-item{

    color: darkcyan;

    &:hover{

        background-color: rgba(0, 139, 139, 0.281) ;
    }
}

.nav-link:focus, .nav-link:hover {

    color: #ffffff;
}

.dropdown-item.active, .dropdown-item:active{

    background-color: rgba(0, 139, 139, 0.671);
}


@media screen and (min-width:1024px) and (max-width: 1200px) {

    header{
    
        .alineadorLogo h1 {
     
            font-size: 30px;
        }
    
        .navBar{

            .widgetContainer{
            
                .actualUserNav .iconUser {
                    width: 25px;
                }
            }

            .menuNav {
        
                justify-content: center;
            }
        }
    }
  
    .navbar-collapse {
       
        margin-top: 10px;
    }
}

@media screen and (min-width:769px) and (max-width: 1023px) {

    header{ 
        
        .alineadorLogo{
            
            h1{
                font-size: 25px;
                padding: 19px 0px;
            }

            .logoHeader {

                width: 4rem;
            }
        }

        .navBar{

            .menuNav {

                margin:0px;
                padding: 0px;
                justify-content: center;
                    
                .a{

                    text-align: center;
                }
            }
        }

    }

    #container, .container{
                
        align-items: center;
        justify-content: center;
    }

    .navbar-collapse {
       
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (min-width:481px) and (max-width: 768px) {

    header{ 
        
        flex-direction: column;

        .alineadorLogo{

            justify-content: center;
            
            h1{
                font-size: 30px;
                padding: 19px;
                text-align: center;
            }
            
            .logoHeader {

                width: 4rem;
            }
        }

        .navBar{

            justify-content: center;
            width: 100%;
            
            .menuNav {
    
                margin:0px;
                padding: 0px;
                justify-content: center;
                        
                .a{
                    text-align: center;
                }
            }
            
        }
    }

    #container, .container{
                
        align-items: center;
        justify-content: center;
    }

    .nav-link {
        
        margin-left: 0;
    }

    .navbar-collapse {
       
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (min-width:320px) and (max-width: 480px) {
    
    header{ 
        
        flex-direction: column;

        .alineadorLogo{

            justify-content: center;
            
            h1{
                font-size: 22px;
                padding: 20px 0 0 0;
                text-align: center;
            }
            
            .logoHeader {

                width: 4rem;
            }
        }

        .navBar{

            justify-content: center;
            width: 100%;

            .menuNav {

                margin:0px;
                padding: 0px;
                padding-left: 0rem;
                
            }

            .widgetContainer{ 
            
                .actualUserNav{

                    .iconUser {

                        width: 25px;
                    }
                }
            }
        }
    }

    .nav-link {
        
        margin-left: 0;
    }
}
@media screen  and (max-width: 319px) {
    
    header{ 
        
        flex-direction: column;

        .alineadorLogo{

            align-items: center;
            justify-content: center;
            
            h1{
                font-size: 15px;
                align-self: center;
                padding: 19px;
                text-align: center;
            }
            
            .logoHeader {

                width: 3rem;
            }
        }

        .navBar{

            justify-content: center;
            width: 100%;
            flex-direction: column;

            .menuNav {

                margin:0px;
                padding: 0px;
                padding-left: 0rem;
                width: 100%;
                justify-content: center;
            }

            .widgetContainer {

                display: flex;
                justify-content: center;
                width: 90%;
            
                .actualUserNav{

                    .iconUser {

                        width: 25px;
                    }
                }
            }

        }
    }

    #container, .container{
                
        align-items: center;
        justify-content: center;
    }
    .nav-link {
        
        margin-left: 0;
    }

    .navbar-collapse {
       
        align-items: center;
        justify-content: center;
        text-align: center;
    }

   
}