.footerPrincipal{

    display: flex;
    flex-direction: column;
    background-color: #0aa39c;

    h3 , h4{

        color: white;
        text-align: center;
        padding: 5px 0;
        font-size: 20px;
        margin: 0;
    
    }
    .estiloTitulos{

        border-top: 1px solid #dee2e6;
        padding: 5px 0;
        font-size: 15px;
        margin: 0;
    }

    .footerAlineacion{ /*Alineacion de los bloques del footer uno a lado de otro*/

        display:flex;
        justify-content: center;

        .contenedorMenuFooter{ /*ubicacion del menú de navegacion del footer del Index a la izquierda*/

            display: flex;
            width:20%;
            text-align: center;
            justify-content: center;

            a{ /*Quita el estilo de los link de los menu y da color de*/
        
                text-decoration: none;
                color:white;
            }

            a:hover{
        
                color:grey;
            }

            li{ /*Estilos para el menu de nav*/
        
                list-style-type:none;
                font-size: 16px;
                font-weight: 700;
                padding: 7px 0;   
            }

            .menuNavFooter{
                
                .footerActivo{

                    color: #cddc39;
                    text-shadow: 0px 1px 12px #ffffff;

                }
            }
     
        } 
    }//cierre footerAlineacion

    
    .contenedorImagenesFooter{ /* Contenedor para alienar las imagenes del logo y RRSS*/
            
        display: flex;
        width:60%;
        flex-direction: column;
    }
    
    .contenedorLogo{  /* Alineación del logo e imágenes de RRSS */
    
        display:flex;
        justify-content: center;
        margin-top:20px;

        img{
            display: flex;
            width: 79px;
            align-self: center;
            justify-content: center;
            transition: 0.5s;
            &:hover{
    
                transform: scale(1.15);
                opacity: 85%;
            }
        }
    }
    
    .contenedorRrss{
    
        @extend .contenedorLogo;
    }
    
    .contenedorRrss img{ /*espacio de separacion entre logos de rrss*/
        
        padding: 5px;
        height: 50px;
        width:50px;
        transition: 0.5s;
    }
    
    .contenedorDireccionFooter{
        
        width: 20%;
    
        p{
            color: white;
            font-size: 14px;
            margin: 5px;
            text-align: center;
        }
    }
}

.colpaseColumn{

    flex-direction: column;
}

@media screen and (min-width:320px) and (max-width: 480px) {

    .footerPrincipal{

        .footerAlineacion{

            align-items: center;
            flex-direction: column;
            
            .contenedorMenuFooter {

                .menuNavFooter{

                    margin: 0px;
                    padding: 0px;
                    margin-bottom: 0rem;
                    padding-left: 0rem;
                }
            }
        }

        .contenedorDireccionFooter {
            width: 50%;
        }
    }


}

@media screen and (max-width: 319px) {

    .footerPrincipal{

        .footerAlineacion{

            align-items: center;
            flex-direction: column;
            
            .contenedorMenuFooter {

                .menuNavFooter{

                    margin: 0px;
                    padding: 0px;
                }
            }
        }

        .contenedorDireccionFooter {
            width: 50%;
        }
    }
}