.buttonContainer{

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

    .botonesCarrito{

        display: flex;
        color: snow;
        background: darkcyan;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;

        .botonesCantidad{

            width: 10%;
            align-self: center;
            border-radius: 10px;
            margin: 15px;
            
            &:active{
            
                background-color:rgb(10, 163, 156);
            }
        }

        .botonAdd{

            @extend .botonesCantidad;
            width:30%;
        }
    }
}