.buttonContainer{

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

    .botonesCarrito{

        display: flex;
        color: snow;
        background: darkcyan;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;

        .botonesCantidad{

            display: inline-block;
            outline: 0;
            border: 0;
            cursor: pointer;
            will-change: box-shadow, transform;
            background: radial-gradient(100% 100% at 100% 0%, #89E5FF 0%, #00b9a7 100%);
            box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
            padding: 0px 12px;
            margin: 10px 13px;
            border-radius: 0.3em;
            color: #fff;
            height: auto;
            text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
            transition: box-shadow 0.15s ease, transform 0.15s ease;

        
            &:hover {
            box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #0c4723;;
            transform: translateY(-0.1em);
            }
           
            &:active {
            box-shadow: inset 0px 0.1em 0.6em #0c4723;
            transform: translateY(0em);
            }

        }

        .botonAdd{

            @extend .botonesCantidad;
            width:30%;
        }
    }
}